# Виртуальное окружение (самое важное, оно весит очень много)
venv/
.venv/
env/

# База данных (в реальных проектах ее не пушат, так как данные там локальные)
db.sqlite3

# Временные файлы Python
__pycache__/
*.pyc

# Настройки IDE (PyCharm, VS Code)
.idea/
.vscode/

# Секретные данные (если будешь использовать .env файлы)
.env